name: Test workflow
on:
    workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: ormbo/trigger-workflow/blob/main/.github/action/action.yaml@ref
      with:
        workflow_file: test